<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if user}}
      <form action="/auth/logout" method="post">
        <div class="field submit">
          <button type="submit">LogOut</button>
        </div>
      </form>
    {{/if}}

    {{#unless user}}
     <a href= "/auth/login"> Login</a>
          <a href= "/auth/signup"> SignUp</a>
          {{/unless}}

    {{{body}}}
  </body>
</html>
