<h1>Movie list</h1>

{{#if user}}

<a href="movies/new"> Create Movie </a>
{{/if}}

<ul>
  {{#each movies}}

  <li>{{this.title}}</li>
      {{this.year}}
    {{#if ../user}}
    <p> <a href="/movies/{{this.id}}">Show details</a><p>   
    {{/if}}
  {{/each}}
  </ul>

